{% extends 'base.html' %}
{% load static %}
{% block body %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 style="position: absolute; top: 300px; left: 200px; color: white;">Welcome to Home</h1>
        <a href="{% url 'student_login' %}" style="text-decoration: none; position: absolute; top: 370px; left: 200px; color: rgb(16, 2, 2); background-color: blue; padding: 10px; font-weight: bold;">Student Login</a>
      </div>
      <div class="carousel-item">
      </div>
      <div class="carousel-item">
      </div>
    </div>
</div>
<br><br>
<div class="card text-center">
  <div class="card-header">
    <h5>Public Notice</h5>
  </div>

  <div class="card-body">
    <h5 class="card-title">{{notice.title}}</h5>
    <p class="card-text">{{notice.content}}</p>
    <table class="table table-small">
 <h1>WELCOME TO SCHOOL MANAGEMENT SYSTEM</h1>
      {% for notice in public_notices %}
        <tr>
          <td>{{notice.title}}</td>
          <td>{{notice.content}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>

</div>

{% endblock %}